.poolNameBox{
    border-top: 1px solid rgb(143, 55, 55);
}
.poolItem{
    margin: 0 1% 0 0;
}

.poolItemsRow{
    min-height: 100px;
    background-color: rgba(42, 39, 39, 0.616);
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    flex-wrap: wrap;
}

.testArea{
    background-color: rgba(42, 39, 39, 0.315);
    padding: 1% 5%;
    max-height: 400px;
    overflow: scroll;
    position:initial;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    margin-bottom: 3%;
    border-bottom: 1px solid rgb(143, 55, 55);
    border-top: 1px solid rgb(143, 55, 55);
    border-radius: 10px 10px 10px 10px;
}

.closeBtnBox{
    display: flex;
    justify-content: end;
    padding: 0 2% 0 1%;
}
#closeTabBtn{
    color: rgb(143, 55, 55);
    text-decoration: none;
    font-size: 2rem;
}

#closeTabBtn:hover{
    color:rgb(226, 72, 72);
}

#addItemBtn{
    color: rgba(240, 248, 255, 0.715);
    font-size: 1.2rem;
}
#addItemBtn:hover{
    color: aliceblue;

}

.summary{
    max-height: 10rem;
    overflow: scroll;
}
.add{
    text-align: end;
}

  ::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f5f5f500;
  }

  ::-webkit-scrollbar-corner{
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #130a06b8;
    border-radius: 10px;
  }