header{
    text-align: center;
    background-color: rgb(42, 39, 39);
    color: aliceblue;
}

.navBox{
    padding: 0 5%;
    display: flex;
}

.mylinks{
    color: wheat;
    text-decoration: none;
}
.mylinks:hover{
    color: rgb(122, 158, 178);
}

#btnDownloadTierList{
    border-radius: 10px 0 0 10px;
}

#btnClearTierList{
    border-radius: 0 10px 10px 0;
}